.header{
    background-color: #333;
    color: white;
}
h1 + p{
    color: green;
    font-style: italic;
}
ul li:not(:first-child){
    color: red;
}
ul + p{
    font-weight: bold;
}
a[target="_blank"]{
    background-color: yellow;
}
.footer{
    background-color: #ddd;
    text-align: center;
}